.filter-labels {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-label {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
    .active {
        color: var(--primary-color);
        font-weight: bold;
    }

.filter-count {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    font-size: 11px;
    margin-left: 0;
}